.main_in{
	width:980px;
	margin:0 auto;
}
.main_t{
	height:26px;
	border-bottom:2px solid #6e6e6e;
	margin-bottom: 10px;
}
.main_t p{
	width:160px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 600;
	color:white;
	background:#6e6e6e;
	border-radius: 4px 4px 0 0;
}
.main_b{
	border:1px solid #ccc;
	overflow: hidden;
}
.main_l{
	padding:20px 0 30px 30px;
	width:729px;
	float:left;
}

.main_l>p{
	padding:0 15px;
	height:30px;
	width:670px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px dashed #e6e6e6;
	margin-bottom: 15px;
}
.username,.password,.repassword,.phone,.code{
	padding-top:10px;
	height: 56px;
}
.username .hint{
	padding-left:110px;
	height: 20px;
	line-height: 20px;
	color:red;
	display: none;
}
.username p:nth-child(1){
	display: inline-block;
	padding:0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: right;
	color:#000;
}
.username input{
	width:245px;
	height: 28px;
	border:1px solid #ababab;
	margin-right: 10px;
}
.username span{
	display: inline-block;
	width:305px;
}
/*//////////////////////////////////////////////*/
.password .hint{
	padding-left:110px;
	height: 20px;
	line-height: 20px;
	color:red;
	display: none;
}
.password p:nth-child(1){
	display: inline-block;
	padding:0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: right;
	color:#000;
}
.password input{
	width:245px;
	height: 28px;
	border:1px solid #ababab;
	margin-right: 10px;
}
.password span{
	display: inline-block;
	width:305px;
}
/*__________________________________________________________*/
.repassword .hint{
	padding-left:110px;
	height: 20px;
	line-height: 20px;
	color:red;
	display: none;
}
.repassword p:nth-child(1){
	display: inline-block;
	padding:0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: right;
	color:#000;
}
.repassword input{
	width:245px;
	height: 28px;
	border:1px solid #ababab;
	margin-right: 10px;
}
.repassword span{
	display: inline-block;
	width:305px;
}
/*____________________________________________________*/
.phone .hint{
	padding-left:110px;
	height: 20px;
	line-height: 20px;
	color:red;
	display: none;
}
.phone p:nth-child(1){
	display: inline-block;
	padding:0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: right;
	color:#000;
}
.phone input{
	width:245px;
	height: 28px;
	border:1px solid #ababab;
	margin-right: 10px;
}
.phone span{
	display: inline-block;
	width:305px;
}
/*=-------------------------------========*/
.code .hint{
	padding-left:110px;
	height: 20px;
	line-height: 20px;
	color:red;
	display: none;
}
.code p:nth-child(1){
	display: inline-block;
	padding:0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: right;
	color:#000;
}
.code input{
	width:125px;
	height: 28px;
	border:1px solid #ababab;
	margin-right: 10px;
}
.code span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width:120px;
	cursor: pointer;
	text-align: center;
	color: red;
	font-size: 23px;
}
.code b{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width:120px;
	cursor: pointer;
}
.main_l>a{
	display: inline-block;
	margin:10px 0 0 110px;
	width:150px;
	height: 32px;
	font-size: 17px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
	border:1px solid #d10000;
	border-radius: 3px;
	background:#f61d1d;
	color: white;
}

.main_r{
	float: left;
	width:219px;
	height:320px;
	background: url('../../resouces/img/register/bgowelcometext.png') no-repeat;
}

